<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des championnats</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<h1>Liste des championnats</h1>


<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Pays</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="champ : ${championships}">
        <td th:text="${champ.name}">Nom</td>
        <td>
            <a th:href="@{'/championships/' + ${champ.id} + '/ranking'}">Voir classement</a> |
            <a th:href="@{'/championships/' + ${champ.id} + '/results'}">Voir résultats</a>

            <span>
                | <a th:href="@{'/admin/championships/edit/' + ${champ.id}}">Modifier</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
