<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Accueil - Gestion de Championnat</title>
    </head>
    <body>
    <div th:replace="~{public/navbar :: navbar}"></div>
    <h1 sec:authorize="isAuthenticated()"
            th:text="'Bienvenue ' + ${user.firstName} + ' ' + ${user.lastName} + ' (' + ${user.role} + ')'" th:if="${user != null}">
        </h1>
        <h1 sec:authorize="isAnonymous()" th:if="${user != null}">
            Bienvenue sur notre site de gestion de championnat
        </h1>
    </body>
</html>
