<div th:replace="~{public/navbar :: navbar}"></div>
<form th:action="@{/login}" method="post">
    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Mot de passe:</label>
        <input type="password" class="form-control" name="password" required>
    </div>

    <div th:if="${param.error}" class="alert alert-danger">
        Email ou mot de passe invalide.
    </div>

    <div th:if="${param.logout}" class="alert alert-success">
        Déconnecté avec succès.
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
</form>
